* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}

#wait {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}

#gameboard {
  width: 1000px;
  margin: 0 auto;
  height: 700px;
  min-width: 1000px;
  border-spacing: 5px;
  border-collapse: separate;
}

#gameboard td {
  width: 20%;
  height: 20%;
  background-color: #F0E68C;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Special Elite', cursive;
  padding: 10px;
  text-transform: uppercase;

  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
     1px 1px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    -webkit-font-smoothing: antialiased;
}

#player_id {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.controls {
  width: 100px;
  margin: 0 auto;
}

button {
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  padding: 5px;
}

#key {
  margin: 0 auto;
  max-width: 70%;
  max-height: 70%;
}

#key td {
  width: 20%;
  height: 20%;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}


.hidden {
  display: none;
}

.blueText {
  color: blue;
}

.redText {
  color: red;
}
